name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TURSO_DB_URL: ${{ secrets.TURSO_DB_URL }}
      TURSO_DB_TOKEN: ${{ secrets.TURSO_DB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install --no-ci

      - name: Build (Astro)
        run: bun run build

      - name: Upload build artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

